@font-face {
  font-family: "Arizona Variable";
  src: url("ABCArizonaVariableEdu.woff2") format("woff2");
  font-display: swap;
}

h1 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 100, "wght" 600;
  text-align: center;
  line-height: 0.9;
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 300px;
  font-size: 80px;
  z-index: 20;
  color: #5478ff;
  animation: serifTransition 2s ease-in-out infinite alternate;
}

@keyframes serifTransition {
  from {
    font-variation-settings: "SRFF" 100;
  }

  to {
    font-variation-settings: "SRFF" 0;
  }
}

.era1 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 100, "wght" 400;
  text-align: center;
  font-size: 40px;
  color: #fff;
  margin-top: 200px;
  margin-bottom: 200px;
}

.era2 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 50, "wght" 400;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

.era3 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 0, "wght" 400;
  text-align: center;
  font-size: 40px;
  color: #fff;
}

body {
  background: #a9ceff;
  overflow-x: hidden;
}

.gradient-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse 100% 110% at 50% 35%,
      #ffffff01 40%,
      #bbe002ff 75%,
      #bbe002ff 110%);
  z-index: 100;
  pointer-events: none;
}

.side-bar {
  position: fixed;
  top: 0;
  right: 10px;
  width: 30px;
  height: 100%;
  z-index: 100;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.side-bar a {
  color: rgba(84, 120, 255, 0.8);
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
  transition: transform 0.2s;
}

.side-bar a:hover {
  transform: scale(1.5);
}

.intro-text {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 100, "wght" 400;
  font-size: 18px;
  color: #5478ff;
  line-height: 1.2;
  text-align: left;
  width: 80%;
  margin: 10px auto;
  margin-top: 100px
}



/* ── QUOTE BLOCK ───────────────────────────────────── */
.quote-wrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 999;
}

.quote-block-1 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 100, "wght" 400;
  font-size: 30px;
  line-height: 0.3;
  color: #ea3336;
  box-sizing: border-box;
  padding: 5%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  perspective: 500px;

}

.divider {
  display: block;
  margin: 0.5em 0;
}


/* ── Insta Post ───────────────────────────────────── */
.post-wrapper {
  position: relative;
  /* Referenzpunkt für die Floater */
  width: 80%;
  margin: 0 auto;
}

.insta-post {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 50px;
  position: relative;
}

.floater1,
.floater2 {
  margin-left: 40px;
  margin-right: 40px;
  position: absolute;
  top: 0px;
}

.insta-post img {
  width: 80%;
  z-index: 1;
}

.floater {
  z-index: 10px;
}

.floater1 img {
  width: 80%;
  bottom: 4px;
  z-index: 2;

}

.floater2 img {
  width: 80%;
  top: 0px;
  left: 0px;
  z-index: 4;
}

/* ── Instagram News ───────────────────────────────────── */
.insta-update {
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 14px 14px;
  margin: 40px auto;
  width: 300px;
  background: radial-gradient(ellipse 80% 70% at 50% 50%,
      #ff9ff2 0%,
      #ffffff00 100%);
  border: 5px solid #ff0029;
  text-align: justify;
  border-radius: 30px;
  position: relative;
}

.insta-update-header1 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 100;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  padding: 4px;

}

.insta-update-text1 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 100;
  font-size: 18px;
  text-align: left;
  color: #ff0029;
  margin-top: 0px;
  padding: 4px;
}

.insta-update-header2 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 50;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;

}

.insta-update-text2 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 50;
  font-size: 18px;
  text-align: left;
  color: #ff0029;
  margin-top: 0px;

}

.insta-update-header3 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;

}

.insta-update-text3 {
  font-family: "Arizona Variable";
  font-variation-settings: "SRFF" 0;
  font-size: 18px;
  text-align: left;
  color: #ff0029;
  margin-top: 0px;

}